* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background-image: linear-gradient(rgb(138, 196, 219) rgb(50, 153, 236));
    background-color: #9c89b8;
    margin: 90px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: rgb(241, 236, 236);
    max-height: 100vh;
    width: 600px;
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
}

header{
    padding: 6px;
    
}
#taskList{
    margin-top: 20px;
    padding-bottom: 30px;
    gap: 3rem;
    
    
}

.taskItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.taskItemContainer input[type="text"]{
    flex: 1;
    margin-right: 10px;
}

#addTask{
   background-color: #5260a7; 
   color: rgb(248, 241, 241);
    text-align: center; 
    padding-top:5px;
    font-weight: 4 00;
    font-size: 15;
     cursor: pointer;
}

.mainContainer header {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}

.mainContainer .add {
    display: flex;
    margin-bottom: 10px;
}



.mainContainer .add #taskInput {
    width: 90%;
    height: 30px;
    font-size: 17px;
    padding: 10px;
    padding: auto;
     
}



::placeholder{
    color: #f0e6ef;
}

.mainContainer .add #addTask {
    width: 10%;
    height: 30px;
}

.mainContainer .list{
display: flex;



}
.list {
    overflow-y: auto; 
    max-height: 100%; 
    flex-grow: 1; 
    width: 100%;
    padding-top: 20px;
     }

#addTask{
    border-radius: 6px;
    margin-left: 5px;
}

#clearBtn{
    border-radius: 12px;
}


.mainContainer .clear{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1em;
    color: rgb(10, 10, 10);
}

.mainContainer .clear button{
    display: inline-block;
    color: rgb(248, 241, 241);
    background-color: red;
    border: none;
    max-width: 100%;
    padding: 10px 27px;
   
}

#taskInput{
    border-radius: 6px;
}
.clear{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}


.deleteButton{
    color: white;
    background-color: #ca0505;
   border: none;
   padding: 4px 8px;
   cursor: pointer;
   margin-left: 10px;
   border-radius: 5px;
   transition: background-color 0.3 ease;

}
.taskItem span{
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
.list .taskItemContainer:hover .deleteButton {
    display: inline-block;
    background-color: #f0f0f0;
}
@media(max-width:768px){
    .mainContainer{
        width: 300px;
        align-content: center;
        justify-content: center;
    }
}

